counterBlock.json
[{"id":"f866fd20.8d9e7","type":"comment","z":"2e333270.03a7ce","name":"DET-01","info":"","x":68,"y":595.0000076293945,"wires":[]},{"id":"628bd572.9febf4","type":"comment","z":"2e333270.03a7ce","name":"Uplink","info":"","x":148,"y":635.0000076293945,"wires":[]},{"id":"981345de.bd701","type":"comment","z":"2e333270.03a7ce","name":"Downlink","info":"","x":158,"y":832.0000076293945,"wires":[]},{"id":"70b76264.f4c474","type":"mqtt in","z":"2e333270.03a7ce","name":"DET-01","topic":"application/+/node/0004a30b001a1d6f/rx","qos":"2","broker":"456108c5.a91fc8","x":172.01986694335938,"y":684.00390625,"wires":[["ee03f866.5ab2a"]]},{"id":"ee03f866.5ab2a","type":"json","z":"2e333270.03a7ce","name":"","pretty":false,"x":339.89456939697266,"y":680.9531326293945,"wires":[["2c5303d9.da405c"]]},{"id":"2c5303d9.da405c","type":"function","z":"2e333270.03a7ce","name":"Parse MQTT json.data","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":528.0198707580566,"y":681.0038998126984,"wires":[["84a65597.f801b8"]]},{"id":"84a65597.f801b8","type":"decode","z":"2e333270.03a7ce","name":"","encode":"Base64","x":722.5208740234375,"y":629.8472290039062,"wires":[["66af8b99.e21354"]]},{"id":"66af8b99.e21354","type":"encode","z":"2e333270.03a7ce","name":"","encode":"Hex","x":720.52783203125,"y":700.8715209960938,"wires":[["a99a1830.a3b1c8","87148df3.fe179","b59588fc.b8a31"]]},{"id":"a99a1830.a3b1c8","type":"function","z":"2e333270.03a7ce","name":"DET-01 - broker Counter ","func":"msg.payload = parseInt(msg.payload.substr(2,6),16);\nreturn msg;","outputs":1,"noerr":0,"x":946.0198707580566,"y":636.0038998126984,"wires":[["d76450ab.acb4a"]]},{"id":"87148df3.fe179","type":"function","z":"2e333270.03a7ce","name":"DET-01 - broker Voltage","func":"msg.payload = (parseInt(msg.payload.substr(10,4),16)/1000).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":967.0197372436523,"y":713.0039310455322,"wires":[["9cef000f.76489"]]},{"id":"d76450ab.acb4a","type":"ui_gauge","z":"2e333270.03a7ce","name":"","group":"bedb02dc.88d018","order":0,"width":"10","height":"8","gtype":"wave","title":"","label":" m","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1171,"y":635,"wires":[]},{"id":"47e923ac.2a00a4","type":"ui_gauge","z":"2e333270.03a7ce","name":"","group":"bedb02dc.88d018","order":0,"width":"5","height":"5","gtype":"donut","title":"Atualizado há","label":"min.","format":"{{value}}","min":"0","max":"20","colors":["#008000","#ffff00","#ff0000"],"seg1":"","seg2":"","x":1137,"y":775.0000076293945,"wires":[]},{"id":"9cef000f.76489","type":"ui_gauge","z":"2e333270.03a7ce","name":"","group":"bedb02dc.88d018","order":0,"width":"5","height":"5","gtype":"gage","title":" Bateria","label":"V","format":"{{value}}","min":"2.95","max":"3.4","colors":["#ff0000","#ffff00","#008000"],"seg1":"","seg2":"","x":1156,"y":713.0000076293945,"wires":[]},{"id":"49f741ff.6f7b6","type":"ui_button","z":"2e333270.03a7ce","name":"","group":"bedb02dc.88d018","order":0,"width":"10","height":"2","passthru":false,"label":"Press DET-01","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":278,"y":875.0000076293945,"wires":[["3a879f5e.796098"]]},{"id":"b59588fc.b8a31","type":"function","z":"2e333270.03a7ce","name":"DET-01 - broker Updated since","func":"//call constructor Date() and pass to now\nvar now = new Date();\n//time_now receive current time\nvar time_now = now.getTime();\n\nif (typeof last_broker_time === 'undefined'){\n    last_broker_time = time_now;\n}\n\nif (msg.payload){\n    last_broker_time = time_now;\n    } \n\n//1. diference between times\n//2. divide per 1000 to parse miliseconds to second\n//3. divide per 60 to parse second to minute\n//4. .toFixed(0) return an int value\n//5. parseInt(\"string\",10) --> returns a decimal value based on own string value\nvar difference_between_times = parseInt(((time_now - last_broker_time)/60000).toFixed(0),10);\n\n//pass to msg.payload the desire velue to show on gauge in dashboard\nmsg.payload = difference_between_times; \nreturn msg;","outputs":1,"noerr":0,"x":886.0198707580566,"y":776.0038998126984,"wires":[["47e923ac.2a00a4"]]},{"id":"6e3ce2cf.966454","type":"inject","z":"2e333270.03a7ce","name":"","topic":"","payload":"msg.time_sample","payloadType":"global","repeat":"5","crontab":"","once":false,"x":571.0198364257812,"y":777.00390625,"wires":[["b59588fc.b8a31"]]},{"id":"3a879f5e.796098","type":"function","z":"2e333270.03a7ce","name":"broker_pub","func":"msg.payload = '{ \"reference\": \"test-node-red\", \"confirmed\": false, \"fPort\": 100, \"data\": \"AAE=\"  }';\nreturn msg;","outputs":1,"noerr":0,"x":453.0000305175781,"y":887,"wires":[["751cefc5.20579"]]},{"id":"751cefc5.20579","type":"json","z":"2e333270.03a7ce","name":"","pretty":false,"x":608.01953125,"y":884.2540283203125,"wires":[["a7c6b86f.c42398"]]},{"id":"a7c6b86f.c42398","type":"mqtt out","z":"2e333270.03a7ce","name":"DET-01","topic":"application/+/node/0004a30b001a1d6f/tx","qos":"0","retain":"","broker":"456108c5.a91fc8","x":760,"y":880,"wires":[]},{"id":"456108c5.a91fc8","type":"mqtt-broker","z":"","broker":"","port":"","tls":"d92daa44.cf322","clientid":"","usetls":false,"compatmode":true,"keepalive":"200","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bedb02dc.88d018","type":"ui_group","z":"","name":"DET-01","tab":"8b72f879.1fd5a","order":3,"disp":true,"width":"10"},{"id":"d92daa44.cf322","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"maua.br.crt","keyname":"maua.br.key ","caname":"intermediate.crt","verifyservercert":true},{"id":"8b72f879.1fd5a","type":"ui_tab","z":"","name":"IMT-CP-DET","icon":"dashboard"}]