TemperatureBlock.json
[{"id":"d74c9c20.b7b738","type":"mqtt in","z":"2e333270.03a7ce","name":"DET-00 ","topic":"application/+/node/0004a30b001abe98/rx","qos":"0","broker":"456108c5.a91fc8","x":230,"y":220,"wires":[["5ff7d269.7d3ca4"]]},{"id":"5ff7d269.7d3ca4","type":"json","z":"2e333270.03a7ce","name":"","pretty":false,"x":370,"y":220,"wires":[["b92292d2.9e4c1"]]},{"id":"b92292d2.9e4c1","type":"function","z":"2e333270.03a7ce","name":"Parse MQTT json.data","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["b4229cce.de01d8"]]},{"id":"b4229cce.de01d8","type":"decode","z":"2e333270.03a7ce","name":"","encode":"Base64","x":734.5212745666504,"y":197.84720993041992,"wires":[["522711ce.8332a8"]]},{"id":"522711ce.8332a8","type":"encode","z":"2e333270.03a7ce","name":"","encode":"Hex","x":734.5281791687012,"y":245.8715114593506,"wires":[["38ab98fb.54844","52f21934.98fb48"]]},{"id":"38ab98fb.54844","type":"function","z":"2e333270.03a7ce","name":"Parse to int Temperature DET-00","func":"msg.payload = parseInt(msg.payload.substr(2,4),16)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1002.462287902832,"y":202.89928770065308,"wires":[["bf0e392.0341148"]]},{"id":"52f21934.98fb48","type":"function","z":"2e333270.03a7ce","name":"Contagem Regressiva","func":"//call constructor Date() and pass to now\nvar now = new Date();\n//time_now receive current time\nvar time_now = now.getTime();\n\nif (typeof last_broker_time === 'undefined'){\n    last_broker_time = time_now;\n}\n\nif (msg.payload){\n    last_broker_time = time_now;\n    } \n\n//1. diference between times\n//2. divide per 1000 to parse miliseconds to second\n//3. divide per 60 to parse second to minute\n//4. .toFixed(0) return an int value\n//5. parseInt(\"string\",10) --> returns a decimal value based on own string value\nvar difference_between_times = parseInt(((time_now - last_broker_time)/60000).toFixed(0),10);\n\n//pass to msg.payload the desire velue to show on gauge in dashboard\nmsg.payload = difference_between_times; \nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":320,"wires":[["63c204dd.1bdc8c"]]},{"id":"6aa2b394.e19894","type":"inject","z":"2e333270.03a7ce","name":"","topic":"","payload":"msg.time_sample","payloadType":"global","repeat":"5","crontab":"","once":false,"x":690,"y":320,"wires":[["52f21934.98fb48"]]},{"id":"adaf4ce4.09e358","type":"function","z":"2e333270.03a7ce","name":"","func":"msg.payload = '{ \"reference\": \"test-node-red\", \"confirmed\": false, \"fPort\": 100, \"data\": \"AAE=\"  }';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":453.00031661987305,"y":409,"wires":[["19d15d52.9fcda3"]]},{"id":"19d15d52.9fcda3","type":"json","z":"2e333270.03a7ce","name":"","pretty":false,"x":580.0198936462402,"y":410.25400161743164,"wires":[["bd2f104e.fed178"]]},{"id":"bd2f104e.fed178","type":"mqtt out","z":"2e333270.03a7ce","name":"DET-00","topic":"application/+/node/0004a30b001abe98/tx","qos":"0","retain":"","broker":"456108c5.a91fc8","x":709.887092590332,"y":408.3946943283081,"wires":[]},{"id":"f81142fa.81ec48","type":"comment","z":"2e333270.03a7ce","name":"DET-00","info":"","x":73.00031661987305,"y":129,"wires":[]},{"id":"21552aa9.30d606","type":"comment","z":"2e333270.03a7ce","name":"Uplink","info":"","x":153.00031661987305,"y":169,"wires":[]},{"id":"a8d76128.96852","type":"comment","z":"2e333270.03a7ce","name":"Downlink","info":"","x":163.00031661987305,"y":366,"wires":[]},{"id":"bf0e392.0341148","type":"ui_template","z":"2e333270.03a7ce","group":"a2d8f348.e87158","name":"","order":0,"width":"10","height":"8","format":" <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:700%\"></center>\n<center style=\"font-size:150%\">°C</center>\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1260,"y":200,"wires":[[]]},{"id":"63c204dd.1bdc8c","type":"ui_gauge","z":"2e333270.03a7ce","name":"","group":"a2d8f348.e87158","order":0,"width":"5","height":"5","gtype":"donut","title":"Atualizado há","label":"min.","format":"{{value}}","min":"0","max":"7","colors":["#008000","#ffff00","#ff0000"],"seg1":"","seg2":"","x":1280,"y":320,"wires":[]},{"id":"3ebdde8f.e0c98a","type":"ui_button","z":"2e333270.03a7ce","name":"","group":"a2d8f348.e87158","order":0,"width":"10","height":"2","passthru":false,"label":"Press DET-00","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":285.7198829650879,"y":407.170556306839,"wires":[["adaf4ce4.09e358"]]},{"id":"256f7ef2.beaf8a","type":"ui_gauge","z":"2e333270.03a7ce","name":"","group":"a2d8f348.e87158","order":0,"width":"5","height":"5","gtype":"gage","title":" Bateria","label":"V","format":"{{value}}","min":"2.95","max":"3.4","colors":["#ff0000","#ffff00","#008000"],"seg1":"","seg2":"","x":1260,"y":260,"wires":[]},{"id":"456108c5.a91fc8","type":"mqtt-broker","z":"","broker":"","port":"","tls":"d92daa44.cf322","clientid":"","usetls":false,"compatmode":true,"keepalive":"200","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a2d8f348.e87158","type":"ui_group","z":"","name":"DET-00","tab":"8b72f879.1fd5a","disp":true,"width":"10"},{"id":"d92daa44.cf322","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"maua.br.crt","keyname":"maua.br.key ","caname":"intermediate.crt","verifyservercert":true},{"id":"8b72f879.1fd5a","type":"ui_tab","z":"","name":"IMT-CP-DET","icon":"dashboard"}]